<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <div class="form-group">

            <form action="/user/signup" method="POST">

                <label for="email">Email</label>
                <input required type="text" name="email" id="email" class="form-contol">
                <label for="username">Username</label>
                <input required type="text" name="username" id="username" class="form-contol">
                <label for="username">Firstname</label>
                <input required type="text" name="firstname" id="firstname" class="form-contol">
                <label for="username">Lastname</label>
                <input required type="text" name="lastname" id="lastname" class="form-contol">
                <label for="password">Password</label>
                <input required type="text" name="password" id="password" class="form-contol">
                <button type="submit" class="btn btn-primary">Signup</button>

            </form>

        </div>
    </div>
</body>
</html>